<div class="container">
  <header>
    <img class="logo" src="logo.png" alt="Logo">
    <nav>
      <button (click)="showSection('intro')">INTRODUÇÃO</button>
      <button (click)="showSection('contact')">CONTATO</button>
    </nav>
  </header>

  <div class="title-container">
    <h2 class="section-title">{{ currentTitle }}</h2>
    <div class="title-underline-container">
      <div class="title-underline"></div>
      <div class="title-square"></div>
    </div>
  </div>

  <main>
    <section *ngIf="currentSection === 'intro'" id="intro" class="intro fade-in">
      <div *ngIf="apiData">
        <h2>{{ apiData.title }}</h2>
        <p>{{ apiData.text }}</p>
      </div>
    </section>
    <section *ngIf="currentSection === 'contact'" id="contact" class="contact fade-in">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" id="name" name="name" placeholder="Nome*" required>
          <input type="email" id="email" name="email" placeholder="E-mail*" required>
        </div>
        <div class="form-group">
          <textarea id="message" name="message" placeholder="Mensagem*" required></textarea>
        </div>
        <button type="submit">ENVIAR</button>
      </form>
    </section>
  </main>
</div>
